<sui-tabset>
  <div class="ui secondary menu">
    <a class="item" suiTabHeader="1">Users x Roles</a>
    <a class="item" suiTabHeader="2">Roles x Permission</a>
    <a class="item" suiTabHeader="3">Users x Permission</a>
    <a class="item" suiTabHeader="4">Permissions</a>
  </div>
  <div class="ui segment" suiTabContent="1">
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>User x Roles</th>
          <th *ngFor="let rol of roles">
            {{rol.name}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userRoles">
          <td>
            <h4 class="ui image header">
              <img src={{user.photoURL}} class="ui mini rounded image">
              <div class="content">
                {{user.displayName}}
                <div class="sub header">{{user.username}}</div>
              </div>
            </h4>
          </td>
          <td *ngFor="let rol of roles"
            class="center aligned"
            [ngClass]="(hasUserRol(user.uid, rol.id) ? 'positive' : 'negative')">
            <div class="ui toggle checkbox">
              <sui-checkbox class="slider" checked="hasUserRol(user.uid, rol.id)"></sui-checkbox>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ui segment" suiTabContent="2">
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>Rol x Permissons</th>
          <th *ngFor="let permision of permissions">
            {{permision.name}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let rol of roles">
          <td>
            <h4 class="ui image header">
              <i [ngClass]="(rol.icon ? rol.icon : 'question')" class="icon"></i>
              <div class="content">
                {{rol.name}}
                <div class="sub header">Rol description...</div>
              </div>
            </h4>
          </td>
          <td *ngFor="let permision of permissions"
            class="center aligned"
            [ngClass]="(hasRolPermission(rol.id, permision.id) ? 'positive' : 'negative')">
            <div class="ui toggle checkbox">
              <sui-checkbox class="slider" checked="hasRolPermission(rol.id, permision.id)"></sui-checkbox>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ui segment" suiTabContent="3">
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>Users x Permissons</th>
          <th *ngFor="let permision of permissions">
            {{permision.name}}
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of userXPermission">
          <td>
            <h4 class="ui image header">
              <img src={{user.photoURL}} class="ui mini rounded image">
              <div class="content">
                {{user.displayName}}
                <div class="sub header">{{user.username}}</div>
              </div>
            </h4>
          </td>
          <td *ngFor="let permision of permissions"
            class="center aligned"
            [ngClass]="(hasUserPermission(user.uid, permision.id) ? 'positive' : 'negative')">
            <div class="ui toggle checkbox">
              <i *ngIf="hasUserPermission(user.uid, permision.id)" class="large green checkmark icon"></i>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="ui segment" suiTabContent="4">
    <table class="ui celled striped table">
      <thead>
        <tr>
          <th>Permission</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let permission of permissions">
          <td>
            {{permission.name}}
          </td>
          <td>
            {{permission.description}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</sui-tabset>
