<div class="content">
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui blue image header">
        <img class="ui avatar image" src="https://logo.clearbit.com/mapalsoftware.com">
        <div class="content">
          Sign in to your account
        </div>
      </h2>
      <form class="ui large form">
        <div class="ui segment">
          <div class="field">
            <div class="ui left icon input">
              <i class="user icon"></i>
              <input type="text" name="email" placeholder="E-mail address" [(ngModel)]="modal.context.username">
            </div>
          </div>
          <div class="field">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input type="password" name="password" placeholder="Password" [(ngModel)]="modal.context.password">
            </div>
          </div>
          <div class="ui buttons">
            <button class="ui button" (click)="onUserPasswordClick()">Login</button>
            <div class="or"></div>
            <!-- button class="ui facebook button" (click)="onFacebookClick()">
              <i class="facebook icon"></i>
              Facebook
            </button -->
            <div class="or"></div>
            <button class="ui twitter button" (click)="onTwitterClick()">
              <i class="twitter icon"></i>
              Twitter
            </button>
            <div class="or"></div>
            <button class="ui google plus button" (click)="onGoogleClick()">
              <i class="google plus icon"></i>
              Google Plus
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
